@model DiscordStats.ViewModel.WebhookUsageVM

<div class="mode">
Dark mode:    
    <span class="change">ON</span>
</div>

@if(@Model != null)
{
    <h3>Webhook name: @Model.name</h3>
    <form asp-action="WebhookMessage">
        <div class="row">
            <div class="col">
                <br>
                <h2>Check box to send members in server.</h2>  
                @Html.CheckBoxFor(m => m.memberValue)
@*                <input type="button" value="Member Count" onclick="location.href='@Url.Action("DeleteWebhook", "Channel", new {memberValue = @Model.memberValue})'"/>
*@            </div>
            <div class="col">
                <br>
                <h2>Check box to send activity count.</h2>  
                @Html.CheckBoxFor(m => m.activityValue)
@*                <input type="button" value="Activity Count" onclick="location.href='@Url.Action("DeleteWebhook", "Channel", new {activityValue = @Model.activityValue})'"/>
*@            </div>
            @*<label for="text" asp-for="message" class="control-label" >Message:</label>
            <input type="text" asp-for="message" class="form-control" required="required" maxlength="32">
            <span asp-validation-for="message" class="text-danger"></span>*@
        </div>
        <div class="row">
            <label for="text" asp-for="Id" class="control-label">Webhook Id:</label>
            @Html.TextBoxFor(m => m.Id, new { @readonly="readonly" })
        </div>
        <div class="row">
            <label for="text" asp-for="Token" class="control-label">Webhook Token:</label>
            @Html.TextBoxFor(m => m.Token, new { @readonly="readonly" })
        </div>
        <div class="row">
            <label for="text" asp-for="guild_id" class="control-label">Guild Id:</label>
            @Html.TextBoxFor(m => m.guild_id, new { @readonly="readonly" })
        </div>
        <div class="row">
            <label for="text" asp-for="channel_id" class="control-label">Channel Id:</label>
            @Html.TextBoxFor(m => m.channel_id, new { @readonly="readonly" })
        </div>
     
        <button value="Submit"  class="btn btn-primary" style="margin-left: 45%; margin-top: 2%">Send Message</button>
    </form>
}
else
{
    <h3>Message has been sent!</h3>
}

@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}