@model IEnumerable<DiscordStats.Models.Server>


<div class="mode">
Dark mode:	
    <span class="change">ON</span>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5b2bd23d5f.js" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    function CreateServer() {
        window.location.href = '/Account/ServerForm/';
;
    }

    $(document).ready( function () {
        $('#filterTable').DataTable({ 
            "order": [[ 2, "desc" ]] 
        }); 
    } );
</script>

<div class="row">
    <div class="col">
        <a href="https://discord.com/channels/" + @ViewBag.id >@{var link = "https://cdn.discordapp.com/avatars/" + ViewBag.id + "//" + ViewBag.hash + ".png";}
        <img class="discordImage"  src="@link"/></a>
    </div>
    <div class="col" style="text-align:center">
        <h1>Welcome home @ViewBag.name, this is your account page.</h1>
    </div>
</div>
<div class="row">
    <p>Did you know your Discord id is: @ViewBag.id?</p>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" onclick="CreateServer()">New Server</button>
    </div>
</div>
@if (Model != null)
{
    <form id="form1" runaat="server">
<table id="filterTable" class="display" >
    <thead>
    <tr>
        <th><b>Server Owner</b></th>
        <th><b>Server Name (click to see channels)</b></th>
        <th><b>Server Id</b></th>
        <th></th>


    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @if (item.Owner == "true")
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
            <td><a href="@Url.Action("ServerChannels", "Account", new {serverId = item.Id})"/> @item.Name</td>
            <td>@item.Id</td>
            <td>
                <a href="@Url.Action("Details", "Account", new {name = item.Name})" class="btn btn-primary"/>
                <i class="fas fa-info"></i>
            </td>

        </tr>
    }

    </tbody>
</table>

    </form>
}
@if (Model == null)
{
    <div class="col-12" style="text-align: center; color:white">

    <div class="row">
        <h2>It looks like you're not a member of any servers.</h2>
        <h5>To join a server ask an an admin or other members for an invite link. Don't know anyone in a server? No Problem!</h5>
        <div style="display: inline">
            <h5> You can find a variety of public servers with the link below.</h5>
 <a style="font-weight: bolder; font-size: larger;" href="https://disboard.org/servers" target="_blank">Disboard.org</a>
        </div>
        </div>
    </div>
}

@section Scripts {

     <script type="text/javascript" src="~/js/site.js"></script>
}