@model DiscordStats.ViewModels.ServerOwnerViewModel
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Server Details</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - DiscordStat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">    
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

</head>
 <body>
          <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col">
        @if (@Model.Icon == null)
        {
            var link = "https://w7.pngwing.com/pngs/609/846/png-transparent-discord-logo-discord-computer-icons-logo-computer-software-avatar-miscellaneous-blue-angle.png";
            <img class="discordImage"  src="@link" style="width:175px"/>
        }
        else
        {
            var link = "https://cdn.discordapp.com/icons/" + @Model.Id + "//" + @Model.Icon + ".png";
            <img class="discordImage"  src="@link" style="width:175px"/>
        }
    </div>
    <div class="col" style="text-align:center">
        <h1>@Model.Name</h1>
    </div>
          </div>
        </div>
      </div>
    <!-- Heading Ends Here -->
     <!-- Services Starts Here -->
    <div class="services-section services-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
                @if (@Model.HasBot == "false")
                    {
            <h2 style="text-align: center">This is all the information we could gather about this server. Please add the bot to see more.</h2>
                    }
                    @if (@Model.HasBot == "true")
                    {
                        <h2>Server Information</h2>
                    }              
            </div>
          </div>
          @if (@Model.HasBot == "true")
          {
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-cloud"></i>
              <h4>Details</h4>             
                <p>Owner: @Model.Owner</p>
                <P>Total members: @Model.Approximate_Member_Count</P>
                <P>Online members: @Model.Approximate_Presence_Count</P>
                <P>Verification Level: @Model.Verification_Level</P>
                <P>Boost Level: @Model.Premium_Tier</P>
                <div class="row" style="margin-top:3%">
                <button type="button" class="btn btn-danger" data-toggle="modal" onclick="OpenModal()" data-target="#exampleModal">Leave Server</button>
                </div>
                <div class="row" style="margin-top:3%">
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Games", "Account", new { ServerId = @Model.Id })'" >View Games</button>
                </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="service-item">
              <i class="fa fa-server"></i>
              <h4>Users</h4>
                   <table class="table" id="serverTable">
                     <thead class="thead-dark">
                    <tr>
                        <th><b>Avatar</b></th>
                        <th><b>Name</b></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var u in @Model.users)
                    {
                        <tr>
                            @if (u.user.Avatar == null)
                            {
                                var i = "https://w7.pngwing.com/pngs/609/846/png-transparent-discord-logo-discord-computer-icons-logo-computer-software-avatar-miscellaneous-blue-angle.png";
                               <td style="padding-bottom: 2%"><img src="@i" style="height: 80px;"/></td>
                            }
                            else
                            {
                                var i = "https://cdn.discordapp.com/avatars/" + u.user.Id + "//" + u.user.Avatar + ".png";
                                <td><img src="@i" style="height: 80px;"/></td>
                            }

                            <td style="padding-bottom: 2%">@u.user.UserName</td>
                    @if (Model.Owner == User.Claims.First(c => c.Type == ClaimTypes.Name).Value){
                    @if (User.Claims.First(c => c.Type == ClaimTypes.Name).Value != u.user.UserName && u.user.UserName != "Stat Tracker")
                    {
                        <td style="padding-bottom: 2%"><button type="button" class="btn btn-danger" data-toggle="modal" onclick="OpenModalKick(this)" id="@u.user.UserName" data-target="#exampleModal">Kick</button></td>
                    }
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->

    <!-- Testimonials Starts Here -->
    <div class="testimonials-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Stats</h2>
              <div class="testimonial-item" >
               <div class="icon">
                  <i class="fa fa-bar-chart"></i>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
              <div class="row justify-content-center">
        <div class="col-6 justify-content-center" >
            <canvas id="usersVoiceHourlyAllTimeChart" style="width:100%;max-width:700px; max-height: 330px; margin-left: 35%"></canvas>
       </div>
        <div class="col-6 justify-content-center">   
            <canvas id="usersHourlyAllTimeChart" style="width:100%;max-width:700px;max-height: 330px"></canvas>
        </div>
        </div>
    </div>
    <!-- Testimonials Ends Here -->
        <!-- Graphs Starts Here -->
    <div class="pricing-section">

      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
          </div>
        </div>
      </div>
      
    </div>
    <!-- Graphs Ends Here -->
     



                    







        <div class="modal fade" id="myModalKick">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h4 class="modal-title">Kick User</h4>
                                </div>
                                <div class="modal-body" id="modalbodykick" style="text-align: center; font-weight: bold">
                                    Are you sure you want to leave the server? You won't be able to join again unless you get an invite.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="CloseModalKick()" style="margin-right: 59%">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" id="kickuser" onclick="KickUser()">
                                        Kick
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
















                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @if (User.Claims.First(c => c.Type == ClaimTypes.Name).Value != @Model.Owner)
                            {

                                <div class="modal-header">
                                    <h4 class="modal-title">Leave Server</h4>
                                </div>
                                <div class="modal-body" style="text-align: center; font-weight: bold">
                                    Are you sure you want to leave the server? You won't be able to join again unless you get an invite.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="CloseModal()" style="margin-right: 59%">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" onclick="LeaveServer()">
                                        Leave Server
                                    </button>
                                </div>
                            }
                            @if (User.Claims.First(c => c.Type == ClaimTypes.Name).Value == @Model.Owner)
                            {
                                <div class="modal-header">
                                    <h4 class="modal-title">Leave Server</h4>
                                </div>
                                <div class="modal-body" style="text-align: center; font-weight: bold">
                                    As the owner of this server you won't be able to leave until you transfer ownership to another user. Please try again later.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="CloseModal()" style="margin-right: 59%">
                                        Close
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>





</body>
    </html>
<div id="ServerId" value="@Model.Id"></div>

<!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/accordions.js"></script>
<script>
    
    function OpenModal() {
        $('#myModal').modal('show');
    }
    function OpenModalKick(clicked) {
        
        $('#myModalKick').modal('show');
        document.getElementById('modalbodykick').textContent = "Are you sure you want to kick " + clicked.id + " from your server? They won't be able to rejoin without an invite.";
        document.getElementById('kickuser').value = clicked.id;
    }

    
    function CloseModal() {
        $('#myModal').modal('hide');
    }
    function CloseModalKick() {
        $('#myModalKick').modal('hide');
    }
    
</script>
@section scripts {
    <script>
        function LeaveServer() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("LeaveServer", "Account")?ServerId=@Model.Id',
                success: function() {
                    window.location.href = '/Account/Account/';
                }
            });
        }

        function KickUser() {
            var username = document.getElementById('kickuser').value;
            $.ajax({
                type: "GET",
                url: '@Url.Action("KickUser", "Account")?ServerId=@Model.Id&user='+ username,
                success: function() {
                    window.location.href = window.location.href;
                }
            });
        }
    </script>
    
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/statistics.js"></script>
    <script type="text/javascript" src="~/js/VoiceChannelStats.js"></script>
}
