@model IEnumerable<DiscordStats.Models.Server>

<h1>Welcome home @ViewBag.name, this is your account page.</h1>
<p>Did you know your Discord id is: @ViewBag.id?</p>
<ul>
@foreach (var s in Model)
{
    <li>@s.Owner</li>
    <li>@s.Name</li>
    <li>@s.Id</li>

}
</ul>