@model IEnumerable<DiscordStats.Models.Server>

<div class="row">
    <div class="col">
        @{var link = "https://cdn.discordapp.com/avatars/" + ViewBag.id + "//" + ViewBag.hash + ".png";}
        <img class="discordImage"  src="@link"/>
    </div>
    <div class="col">
        <h1>Welcome home @ViewBag.name, this is your account page.</h1>
    </div>
</div>

<p>Did you know your Discord id is: @ViewBag.id?</p>
@if(Model != null)
{
    <table class="table" >
     <tr>
        <th><b>Server Owner</b></th>
        <th><b>Server Name</b></th>
        <th><b>Server Id</b></th>
    </tr>
    @foreach(var s in Model)
    {
        <tr>
            <td>@if (s.Owner=="true") { <p>Yes</p>}else{<p>No</p>}</td>
            <td>@s.Name</td>
            <td>@s.Id</td>
        </tr>
    }
</table>
}
@if (Model == null)
{
    <div class="col-12" style="text-align:center">
    <div class="row">
        <h2>It looks like you're not a member of any servers.</h2>
        <h5>To join a server ask an an admin or other members for an invite link. Don't know anyone in a server? No Problem!</h5>
        <div style="display: inline">
            <h5> You can find a variety of public servers with the link below.</h5>
 <a style="font-weight: bolder; font-size: larger;" href="https://disboard.org/servers" target="_blank">Disboard.org</a>
        </div>
        </div>
    </div>
}