@model IEnumerable<DiscordStats.Models.Server>
<script src="https://kit.fontawesome.com/5b2bd23d5f.js" crossorigin="anonymous"></script>
<h4 style="text-align:center">Here is a list of servers that you own. Please select which one you would like to add a bot to.</h4>
@foreach (var s in Model)
{
    <div class="row" style="padding-top: 3%">
        <div class="col-2">
            @{
                var link = "https://cdn.discordapp.com/icons/" + @s.Id + "//" + @s.Icon + ".png";
                <img src="@link"/>
            } 
        </div>
        <div class ="col-3" style="font-weight:bold">
            @s.Name
            <div class="row" style="width:50%;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Privacy Level</option>
                    <option value="1">Public</option>
                    <option value="2">Private</option>
                </select>


            </div>
            @if(s.HasBot == "false")
            {
            <div class="row" style="width: 50%; margin-top: 2%">
            @{
                var url = "https://discord.com/oauth2/authorize?client_id=938808510932746350&scope=bot&permissions=8&guild_id=" + s.Id;
            }
            <a id="anchorID" href="@url" target="_blank" class="btn btn-primary">Add Bot</a>
              </div>
            }
            @if(s.HasBot == "true")
            {
                <div class="row" style="width: 50%; margin-top: 2%;white-space: nowrap; display: inline-block; color: green; font-size:18px">
                   
                    <span>Bot added </span> <span class="fa fa-check" style="margin-left: -15%"></span>
                </div>
            }
        </div>

    </div>
}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

    function AddBot(val) {
        alert(val);
    }
</script>